<%- include ("partials/header.ejs"); -%>

    <h1>Home</h1>
    <p><%=homeStartingContent%></p>



<%  composedPostS.forEach((item)=>{     %>
<h4><%=item.postTitle%></h4>

<p><%=item.postBody.substring(0,150)%>...<a href="/posts/<%=item.postTitle%>">Read More</a></p>
<% });                                %>




<%- include ("partials/footer.ejs"); -%>